<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SAMPATTI BOT</title>

    <link rel="stylesheet" href="static/css/chat.css" />
    <link rel="stylesheet" href="static/css/home.css" />
    <link href="static/img/favicon.png" rel="icon" />
    <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <div class="suggestion"></div>
    <!-- CHAT BAR BLOCK -->
    <div class="chat-bar-collapsible">
      <button id="chat-button" type="button" class="collapsible">
        Your Financial advisor
        <i
          id="chat-icon"
          style="color: rgb(255, 255, 255)"
          class="fa fa-fw fa-comments-o"
        ></i>
      </button>

      <div class="content">
        <div class="full-chat-block">
          <!-- Message Container -->
          <div class="outer-container">
            <div class="chat-container">
              <!-- Messages -->
              <div id="chatbox">
                <h5 id="chat-timestamp"></h5>
                <p id="botStarterMessage" class="botText">
                  <span id="botStarterMessage2"><script>var name = localStorage.getItem("name");
                  
                  document.getElementById("botStarterMessage2").textContent = "Welcome to SampattiBot, "+ name+". These were the schemes recommended for you: ";</script>
                  </span>
                  
                  </p>
                  
                  <div class="suggestion-panel">
                
                    <div id="panel">
                      
                      <script>
                        var names = JSON.parse(localStorage.getItem("recommend")) || [];
                        var descs = JSON.parse(localStorage.getItem("recommend2")) || [];
                        var buttonContainer = document.getElementById("panel");
                        
                        // Loop through the names and create a button for each one
                        for (var i = 0; i < names.length; i++) {
                          var name = names[i];
                          console.log(name);
                          var desc=descs[i];
                          console.log(desc);
                          var p=document.createElement("p");
                          p.id="p_"+i;
                          p.classList.add("botText2"); 
                          var button = document.createElement("button");
                          button.innerText = name;

                          button.id = "button_" + i;
                          button.addEventListener("click", function() {
                            var buttonId = this.id;
                            // Get the index of the clicked button from its id
                            var index = buttonId.split("_")[1];
                            // Get the corresponding description from the descs array
                            var desc2 = descs[index];
                            let botHtml = '<p class="botText"><span>' + desc2 + '</span></p>';

                            $("#textInput").val("");
                            $("#chatbox").append(botHtml);
                            document.getElementById("chat-bar-bottom").scrollIntoView(true);
                          
                          });
                          p.appendChild(button);
                          buttonContainer.appendChild(p);
                          
                        }

                        
                          </script>
                        
                    </div>
                  </div>
                
              </div>
              
              <!-- User input box -->
              <div class="chat-bar-input-block">
                <div id="userInput">
                  <input
                    id="textInput"
                    class="input-box"
                    type="text"
                    name="msg"
                    placeholder="Enter your Financial queries here!!"
                  />
                  <p></p>
                </div>
                <div class="chat-bar-icons">
                  <i
                    id="chat-icon1"
                    style="color: rgb(255, 0, 51);cursor:pointer;"
                    class="fa fa-fw fa-heart"
                    onclick="heartButton()"
                  ></i>
                  <i
                    id="voice-search"
                    class="fa fa-microphone"
                    style="color: #333;cursor:pointer;"
                    onclick="voiceSearch()"
                  ></i>
                  <i
                    id="chat-icon"
                    style="color: #333;cursor:pointer;"
                    class="fa fa-fw fa-send"
                    onclick="sendButton()"
                  ></i>
                </div>
              </div>

              <div id="chat-bar-bottom">
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="news-highlights">
      <h2 class="news-header">News Highlights</h2>
    <div id="news"></div>
      <script>
        function displayData() {
          
            fetch('/data')
            .then(response => response.json())
            .then(data => {
                const newsDiv = document.getElementById('news');
                for (let i = 0; i < data.length; i++) {
                    const linkElement = document.createElement('a');
                    linkElement.classList.add('news-link');
                    linkElement.href = data[i].link;
                    linkElement.textContent = data[i].title;

                    newsDiv.appendChild(linkElement);
                }
            })
            .catch(error => console.error(error));
        }
        displayData();
        
        </script>
      </div>
    </body>
  <script>
    $SCRIPT_ROOT =' {{ request.script_root|tojson }}';
  </script>
  <script src="https://apis.google.com/js/api.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="static/scripts/chat.js"></script>
</html>
